doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    div#inputbox
        div#attributebox
            label Attribute Values
            br
            span(id="node-name")
            form(id="add-node", name="add-node", method="post")
              table
                tr(id="node-attribute-row")
                  td(id="node-attribute-col")
                  td
                    input(type="text", name="type" id="node-attribute-input")
            div
                button#addNodeButton Add Nodes
            span(id="edge-name")
            form(id="add-edge", name="add-edge", method="post")
              table
                tr(id="edge-attribute-row")
                  td(id="edge-attribute-col")
                  td 
                    input(type="text", name="type" id="edge-attribute-input")
        div#colorbox
            table
                tr
                    td(colspan="2")
                        label Color By Attribute
                tr
                    td
                        label Name
                    td
                        input(type="text", id="colorname" name="colorByName")
                tr
                    td
                        label Value
                    td
                        input(type="text", id="colorvalue" name="colorByValue")
                tr
                    td
                        label Color
                    td
                        input(class="jscolor" id="colorcolor" name="colorByColor")
    div(id="graph")
        table(id="bottomContainer")
            tr
                td
                    div(id="toolbox")
                        input(
                            type="image"
                            title="create edge"
                            id="create-edge"
                            src='./images/edge_button.png'
                            onclick="graph.toggle_draw_edge();"
                        )
                        input(
                            type="image"
                            title="eraser"
                            id="eraser"
                            src='./images/eraser_button.png'
                            onclick="graph.toggle_eraser();"
                        )
                        input(
                            type="image"
                            title="save graph to datavase"
                            id="save"
                            src='./images/save_button.png'
                            onclick="graph.save_graph();"
                        )
                td
                    div(id="console")
    block content
    script(src='//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js')
    script(src='./javascripts/jquery.min.js')
    script(src='//d3js.org/d3.v3.js')
    script(src='http://d3js.org/queue.v1.min.js')
    script(src='./javascripts/GraphView.js')
    script(src='./javascripts/graph-painter.js')
    script(src='./javascripts/form-actor.js')
    script(src='./javascripts/jscolor.min.js')